<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cun.yun.card.admin.dal.dao.BondLinkMapper">
  <resultMap id="BaseResultMap" type="cun.yun.card.admin.dal.model.BondLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bond_id" jdbcType="BIGINT" property="bondId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="is_employ" jdbcType="INTEGER" property="isEmploy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

  </resultMap>
  <sql id="Base_Column_List">
    id, bond_id, url, is_employ, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bond_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="cun.yun.card.admin.dal.model.BondLink">
    insert into bond_link (id, bond_id, url,
      is_employ, updated_time)
    values (#{id,jdbcType=BIGINT}, #{bondId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR},
      #{isEmploy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cun.yun.card.admin.dal.model.BondLink">
    insert into bond_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bondId != null">
        bond_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="isEmploy != null">
        is_employ,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bondId != null">
        #{bondId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isEmploy != null">
        #{isEmploy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cun.yun.card.admin.dal.model.BondLink">
    update bond_link
    <set>
      <if test="bondId != null">
        bond_id = #{bondId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isEmploy != null">
        is_employ = #{isEmploy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cun.yun.card.admin.dal.model.BondLink">
    update bond_link
    set bond_id = #{bondId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      is_employ = #{isEmploy,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByBondId" resultMap="BaseResultMap">
    SELECT
        l.*
    FROM
        bond b
    LEFT JOIN bond_link l ON b.id = l.bond_id
    AND b.is_employ = 0
    WHERE
        l.is_employ = 0
    AND l.bond_id =#{bondId}
  </select>


  <select id="bondLinkList" resultType="cun.yun.card.admin.dal.dto.BondLinkDto">
    SELECT
      l.id,
      l.url,
      l.bond_id bondId,
      (
        SELECT
          NAME
        FROM
          bond
            WHERE
          id = l.bond_id
      ) bondName,
      l.create_time createTime
      FROM
      bond_link l
      LEFT JOIN bond b ON l.bond_id = b.id
      AND b.is_employ = 0
    WHERE
    l.is_employ = 0
    <if test="bondId !=null">
      AND l.bond_id = #{bondId}
    </if>
  </select>


  <select id="totalCount" resultType="int">
    SELECT
      COUNT(1) count
    FROM
    bond_link l
    LEFT JOIN bond b ON l.bond_id = b.id
    AND b.is_employ = 0
    WHERE
    l.is_employ = 0
    <if test="bondId !=null">
      AND l.bond_id = #{bondId}
    </if>
  </select>
</mapper>